.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1rem;
    min-width: 90%;   
    background-color: rgb(2, 55, 16);
    color: white;
    width: 100%;
}

.navbar__dropdown{
    display: flex;
}

.navbar__menuicon{
    display: none;
}

@media (max-width: 1050px){

    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .navbar__menuicon{
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        margin: 1rem;
        fill: white;
        cursor: pointer;
    }
    .navbar__home{
        display: none;
    }
    .navbar__dropdown{
        display: none;
    }

    .navbar__dropdown.navbar__dropdown--open {
        display: flex; /* Show dropdowns when openMenu is true */
        flex-direction: column; /* Stack titles vertically */
        width: 100%;

      }
    

  
    }

