.main{
    display: flex;
    flex-direction: column;
}

.carousal{
    position: relative;
}


.carousal__leftarrow, .carousal__rightarrow {
    top: 50%;
    position: absolute;
    height: 2rem;
    width: 2rem;
    fill: white;
}

.carousal__rightarrow{
    right: 40px;
}

.carousal__leftarrow{
    left: 40px;
}

.carousal__banner{
    position: relative;
    display: flex;
    flex-direction: row; 
    overflow: hidden;   
}
.carousal__banner img{
    width: 100vw;
}

