
.carousal{
    position: relative;
    z-index: 0;
}

.carousal__arrow{
    height: 100%;
    background-color: white;
    width: 20%;
       
}

.carousal__leftarrow, .carousal__rightarrow {
    top: 50%;
    position: absolute;
    height: 2rem;
    width: 2rem;
    fill: white;
    z-index: 2;
}

.carousal__rightarrow{
    right: 40px;
}

.carousal__leftarrow{
    left: 40px;
}

.carousal__banner{
    position: relative;
    display: flex;
    flex-direction: row; 
    overflow: hidden;
    z-index: 1;

}
.carousal__banner img{
    width: 100vw;
}

.carousal__circle{
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    column-gap: 10px;
    bottom: 15%;
    left: 45%;
    
    
}

.carousal__circle--empty{
    height: 1.2rem;
    width: 1.2rem;
    fill: white;
}

.carousal__circle--dot{
    fill: black;
    height: 1.2rem;
    width: 1.2rem;
}

.carousal__arrow-leftbg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.4); /* Black color with 50% opacity */
    z-index: 1; /* Ensure the background is behind the arrow icon */
  }

  .carousal__arrow-rightbg{
    position: absolute;
    top: 0;
    bottom: 0;
    left:90%;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.4); /* Black color with 50% opacity */
    z-index: 1; /* Ensure the background is behind the arrow icon */
  }