.navbarcopy{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(2, 55, 16);
    color: white;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1rem;
}
.navbarcopy__home{
    padding-top: 1.3rem;
    text-align: center;
    
}

.navbarcopy__container{
    position: relative;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-right: 50px ;
}


.navbarcopy__menuicon{
    display: none;
    height: 1rem;
    width: 1rem;
}

.navbarcopy__caretdown{
    height: 1rem;
    width: 1rem;
    margin-left: 2px;

    fill: white;
}

.navbarcopy__dropdown{
    z-index: 1;
}

.navbarcopy__title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    margin-right: 5px;
}


.navbarcopy__list{
    position: absolute;
    z-index: 100;
    list-style: none;
    color: black;
    
    border: 1px solid gray;
    background-color: rgb(139, 189, 139, 1);
    border-radius: 10px;
    width: 250px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}
