.footer{
    display: flex;
    flex-direction: column;
    background-color: #023710;
    color: white;
    font-family: var(--font-family);
    font-size: 0.8rem;
    height: 40vh;

}

.footer__icon{
    height: 1rem;
    width: 1rem;
    fill: #fdc800;
}

.footer__container{
    display: flex;
}

.footer__topcontainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer__contact{
    width: 30%;
}
.footer__mapframe{
    display: block;
    max-width: 100%;
}